<nav class="navbar fixed-bottom navbar-expand-sm navbar-dark bg-dark">
    <button class="navbar-toggler mx-auto text-primary collapsed" type="button" data-toggle="collapse" data-target="#bottomCollapse" aria-expanded="false">
        <svg class="icon-sprite"><use xlink:href="assets/images/icons-sprite.svg#menu-arrow"/></svg>
      </button>
    <div class="collapse navbar-collapse" id="bottomCollapse">
        <ul class="navbar-nav mx-auto">
            <li class="nav-item active">
                <a class="nav-link active" href="/">
                    <svg class="icon-sprite"><use xlink:href="assets/images/icons-sprite.svg#dashboard"/></svg> <span>Home</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/lights">
                    <svg class="icon-sprite"><use xlink:href="assets/images/icons-sprite.svg#bulb-eco"/></svg> <span>Lights</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/cameras">
                    <svg class="icon-sprite"><use xlink:href="assets/images/icons-sprite.svg#camera"/></svg> <span>Cameras</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/climate">
                    <svg class="icon-sprite"><use xlink:href="assets/images/icons-sprite.svg#thermometer"/></svg> <span>Climate</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/appliances">
                    <svg class="icon-sprite"><use xlink:href="assets/images/icons-sprite.svg#appliances"/></svg> <span>Appliances</span>
                </a>
            </li>
        </ul>
    </div>
</nav>