<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from symbiotdelta.creatingo.com/appliances.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 14 Apr 2021 20:34:28 GMT -->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="Jozef Dvorský - creatingo.com">
	<link rel="icon" href="assets\images\favicon2.png">
	<title>SYMBIOT Delta Appliances - Bootstrap 4 theme</title>
	<!-- jQuery -->
	<script
	src="https://code.jquery.com/jquery-3.6.0.min.js"
	integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
	crossorigin="anonymous"></script>
	<!-- Bootstrap core CSS with custom theme variables + Additional theme styles -->
    <link href="assets/css/iot-theme-bundle.min.css" rel="stylesheet">

</head>

<body>

	<!-- Preloader -->
	<div id="iot-preloader">
		<div class="center-preloader d-flex align-items-center">
			<div class="spinners">
				<div class="spinner01"></div>
				<div class="spinner02"></div>
			</div>
		</div>
	</div>

	<%- include('../partials/modals.ejs') %>


	<!-- Wrapper START -->
	<div id="wrapper" class="hidden">
		<!-- Top navbar START -->
		<nav class="navbar fixed-top border-bottom">
			<a class="navbar-brand pt-0 px-lg-3 px-1 mr-0" href="#"><img src="assets/images/logo.png" alt="SYMBIOT Delta"></a>
			<div class="ml-auto">
				<div class="navbar-nav navbar-icons flex-row">
					<div class="nav-item">
						<button id="alerts-toggler" class="btn btn-link nav-link" title="Alerts" type="button" data-alerts="3" data-toggle="modal" data-target="#alertsModal">
							<svg class="icon-sprite">
								<use xlink:href="assets/images/icons-sprite.svg#alert"/>
								<svg class="text-danger"><use class="icon-dot" xlink:href="assets/images/icons-sprite.svg#icon-dot"/></svg>
							</svg>
						</button>
					</div>
					<div class="nav-item">
						<a class="nav-link" href="/settings">
							<svg class="icon-sprite"><use xlink:href="assets/images/icons-sprite.svg#settings"/></svg> 
						</a>
					</div>
					<div class="nav-item">
						<a class="nav-link" href="/login">
							<svg class="icon-sprite"><use xlink:href="assets/images/icons-sprite.svg#logout"/></svg> 
						</a>
					</div>
				</div>
			</div>
		</nav>
		<!-- Top navbar END -->


		<!-- Main content START -->
		<div class="container-fluid px-4 px-sm-5">
			<div class="row">
				<!-- Appliances  START -->
				<div class="col-sm-12 col-md-6">
					<!-- Washing machine  START -->
					<div class="card active" data-unit="wash-machine">
						<ul class="list-group borderless">
							<li class="list-group-item align-items-center">
								<svg class="icon-sprite icon-1x">
                        			<use xlink:href="assets/images/icons-sprite.svg#wash-machine"/>
                      			</svg>
								<h5>Washing machine</h5>
								<p class="ml-auto status">ON</p>
							</li>
						</ul>
						<div class="only-if-active">
							<hr class="my-0">
							<ul class="list-group borderless px-1">
								<li class="list-group-item pb-0">
									<p class="specs">Program</p>
									<p class="ml-auto mb-0 text-primary">Cotton Quick</p>
								</li>
								<li class="list-group-item pb-0">
									<p class="specs">Weight</p>
									<p class="ml-auto mb-0 text-primary">10.5 lb <small class="text-muted">(4.76 kg)</small></p>
								</li>
								<li class="list-group-item">
									<p class="specs">Remaining time</p>
									<p id="wash-machine" class="ml-auto mb-0"></p>
								</li>
								<li class="list-group-item pb-4 timer-controls" data-controls="wash-machine">
									<button data-action="pause" type="button" class="btn btn-primary btn-block wash-control">Pause</button>
									<button data-action="resume" type="button" class="btn btn-secondary btn-block mt-0 wash-control">Resume</button>
								</li>
							</ul>
						</div>
					</div>
					<!-- Washing machine  END -->
				</div>
				<div class="col-sm-12 col-md-6">
					<!-- Fridge  START -->
					<div class="card active" data-unit="home-fridge">
						<ul class="list-group borderless">
							<li class="list-group-item align-items-center">
								<svg class="icon-sprite icon-1x">
                        			<use xlink:href="assets/images/icons-sprite.svg#home-fridge"/>
                      			</svg>
								<h5>Fridge</h5>
								<p class="ml-auto status">ON</p>
							</li>
						</ul>
						<hr class="my-0">
						<div class="d-flex justify-content-between" data-rangeslider="fridge-temp">
							<ul class="list-group borderless px-1 align-items-stretch">
								<li class="list-group-item">
									<p class="specs mr-auto mb-auto">Temperature</p>
								</li>
								<li class="list-group-item d-flex flex-column pb-4">
									<p class="mr-auto mt-2 mb-0 display-5">
										<span id="fridge-temp-F">35</span><sup>°F</sup>
									</p>
									<p class="mr-auto mt-2 mb-0 lead text-primary">
										<span id="fridge-temp-C">1.67</span><sup>°C</sup>
									</p>
								</li>
							</ul>
							<div class="p-4" style="position:relative;">
								<input id="fridge-temp" type="range" min="33.8" max="39.2" step="0.1" value="35" data-orientation="vertical">
								<div class="info-holder info-lc">
									<div data-toggle="popover-all" data-content="jQuery range slider using localStorage to remember the last status." data-original-title="Temperature control" data-placement="left" data-offset="0 -12px"></div>
								</div>
							</div>
						</div>
					</div>
					<!-- Fridge  END -->
				</div>
				<div class="col-sm-12 col-md-6">
				</div>
				<div class="col-sm-12 col-md-6">
					<!-- TV1  START -->
					<div class="card active" data-unit="tv-lcd-1">
						<ul class="list-group borderless">
							<li class="list-group-item align-items-center">
								<svg class="icon-sprite icon-1x">
                        			<use xlink:href="assets/images/icons-sprite.svg#tv-lcd"/>
                      			</svg>
								<h5>TV</h5>
								<p class="ml-auto status">ON</p>
							</li>
						</ul>
						<hr class="my-0">
						<ul class="list-group borderless px-1">
							<li class="list-group-item pb-0">
								<p class="specs">Channel</p>
								<p class="ml-auto mb-0 text-primary">Kids TV24</p>
							</li>
							<li class="list-group-item pb-4">
								<p class="specs">Recording</p>
								<p class="ml-auto mb-0 text-primary text-off">OFF</p>
							</li>
						</ul>
					</div>
					<!-- TV1  END -->
				</div>
				<div class="col-sm-12 col-md-6">
					<!-- TV2  START -->
					<div class="card active" data-unit="tv-lcd-2">
						<!-- TV2 switch START -->
						<ul class="list-group borderless">
							<li class="list-group-item align-items-center">
								<svg class="icon-sprite icon-1x">
                        			<use xlink:href="assets/images/icons-sprite.svg#tv-lcd"/>
                      			</svg>
								<h5>TV</h5>
								<label class="switch ml-auto checked">
                        			<input type="checkbox" id="tv-lcd-2" checked>
								</label>
							</li>
						</ul>
						<!-- TV2 switch END -->
						<div class="only-if-active">
							<hr class="my-0">
							<ul class="list-group borderless px-1">
								<li class="list-group-item pb-0">
									<p class="specs">Channel</p>
									<p class="ml-auto mb-0 text-primary">Kids TV24</p>
								</li>
								<li class="list-group-item pb-0">
									<p class="specs">Recording</p>
									<div class="btn-group btn-group-toggle ml-auto py-1" data-toggle="buttons">
										<label class="btn btn-label btn-sm mb-0">
                            				<input type="radio" name="options" id="c1-nv-on" autocomplete="off"> ON
                          				</label>
										<label class="btn btn-label btn-sm mb-0 active">
                            				<input type="radio" name="options" id="c1-nv-off" autocomplete="off" checked> OFF
                          				</label>
									</div>
								</li>
							</ul>
							<!-- Volume control - range slider START -->
							<ul class="list-group borderless px-1" data-rangeslider="tv-volume-1">
								<li class="list-group-item">
									<p class="specs">Volume</p>
									<p class="ml-auto mb-0"><span class="range-output">45</span>%</p>
								</li>
								<li class="list-group-item pt-0 pb-4">
									<input id="tv-volume-1" class="volume" type="range" min="0" max="100" value="45">
								</li>
							</ul>
							<!-- Volume control - range slider END -->
						</div>
					</div>
					<!-- TV2  END -->
				</div>
				<!-- Appliances  END -->
			</div>
		</div>
		<!-- Main content END -->
		<!-- Bottom navbar START -->
		<%- include('../partials/navbar.ejs') %>
		<!-- Bottom navbar END -->
	</div>
	<!-- Wrapper END -->

	<!-- FAB button - bottom right on large screens -->
	<button id="info-toggler" type="button" class="btn btn-primary btn-fab btn-fixed-br d-none d-lg-inline-block">
    	<svg class="icon-sprite"><use xlink:href="assets/images/icons-sprite.svg#info"/></svg>
  	</button>


	<!-- Bootstrap bundle -->
	<script src="assets/js/bootstrap.bundle.min.js"></script>

	<!-- Cross browser support for SVG icon sprites -->
	<script src="assets/js/svg4everybody.min.js"></script>

	<!-- jQuery countdown timer plugin (Exit modal, Garage doors, Washing machine) -->
	<script src="assets/js/iot-timer.min.js"></script>

	<!-- jQuery range-slider plugin (Dimmers, Fridge temperature) -->
	<script src="assets/js/iot-range-slider.min.js"></script>

	<!-- Basic theme functionality (arming, garage doors, switches ...) - using jQuery -->
	<script src="assets/js/iot-functions.min.js"></script>

	<script>
		$(document).ready(function() {


			// Get checkbox statuses from localStorage if available (IE)
			if (localStorage) {

				// Switch statuses
				var switchValues = JSON.parse(localStorage.getItem('switchValues')) || {};

				$.each(switchValues, function(key, value) {

					// Apply only if element is included on the page
					if ($('[data-unit="' + key + '"]').length) {

						if (value === true) {

							// Apply appearance of the "unit" and checkbox element
							$('[data-unit="' + key + '"]').addClass("active");
							$("#" + key).prop('checked', true);
							$("#" + key).closest("label").addClass("checked");

						} else {
							$('[data-unit="' + key + '"]').removeClass("active");
							$("#" + key).prop('checked', false);
							$("#" + key).closest("label").removeClass("checked");

						}
					}
				});

				// Range Slider values
				var rangeValues = JSON.parse(localStorage.getItem('rangeValues')) || {};

				$.each(rangeValues, function(key, value) {

					// Apply only if element is included on the page
					if ($('[data-rangeslider="' + key + '"]').length) {

						if (key === 'fridge-temp') {
							// Update Range slider - special case Fridge
							var temperatureFar = value;
							var temperatureCel = (temperatureFar - 32) * 5 / 9;
							var roundCel = Number(Math.round(temperatureCel + 'e2') + 'e-2');
							$('[data-rangeslider="' + key + '"] #fridge-temp-F').html(temperatureFar);
							$('[data-rangeslider="' + key + '"] #fridge-temp-C').html(roundCel);

						} else {
							// Update Range slider - universal
							$('[data-rangeslider="' + key + '"] input[type="range"]').val(value);
							$('[data-rangeslider="' + key + '"] .range-output').html(value);
						}
					}
				});

			}

			// Switch (checkbox element) toogler
			$('.switch input[type="checkbox"]').on("change", function(t) {

				// Check the time between changes to prevert Android native browser execute twice
				// If you dont need support for Android native browser - just call "switchSingle" function
				if (this.last) {

					this.diff = t.timeStamp - this.last;

					// Don't execute if the time between changes is too short (less than 250ms) - Android native browser "twice bug"
					// The real time between two human taps/clicks is usually much more than 250ms"
					if (this.diff > 250) {

						this.last = t.timeStamp;

						iot.switchSingle(this.id, this.checked);

					} else {
						return false;
					}

				} else {

					// First attempt on this switch element
					this.last = t.timeStamp;

					iot.switchSingle(this.id, this.checked);

				}
			});

			// Wash machine controls
			$('.wash-control').click(function() {

				var target = $(this).closest('.timer-controls').data('controls');
				var action = $(this).data('action');

				iot.washMachine(target, action);
			});


			// Reposition to center when a modal is shown
			$('.modal.centered').on('show.bs.modal', iot.centerModal);

			// Alerts "Close" callback - hide modal and alert indicator dot when user closes all alerts
			$('#alertsModal .alert').on('close.bs.alert', function() {
				var sum = $('#alerts-toggler').attr('data-alerts');
				sum = sum - 1;
				$('#alerts-toggler').attr('data-alerts', sum);

				if (sum === 0) {
					$('#alertsModal').modal('hide');
					$('#alerts-toggler').attr('data-toggle', 'none');

				}

			});

			// Show/hide tips (popovers) - FAB button (right bottom on large screens)
			$('#info-toggler').click(function() {

				if ($('body').hasClass('info-active')) {
					$('[data-toggle="popover-all"]').popover('hide');
					$('body').removeClass('info-active');
				} else {
					$('[data-toggle="popover-all"]').popover('show');
					$('body').addClass('info-active');
				}
			});

			// Hide tips (popovers) by clicking outside
			$('body').on('click', function(pop) {

				if (pop.target.id !== 'info-toggler' && $('body').hasClass('info-active')) {
					$('[data-toggle="popover-all"]').popover('hide');
					$('body').removeClass('info-active');
				}

			});

			// Data binding for numeric representation of Fridge range slider
			$(document).on('input', 'input[type="range"]#fridge-temp', function() {
				var temperatureFar = this.value;
				var temperatureCel = (temperatureFar - 32) * 5 / 9;
				var roundCel = Number(Math.round(temperatureCel + 'e2') + 'e-2');
				$('[data-rangeslider="' + this.id + '"] #fridge-temp-F').html(temperatureFar);
				$('[data-rangeslider="' + this.id + '"] #fridge-temp-C').html(roundCel);
			});

			// Data binding for numeric representation of TV Volumee range slider
			$(document).on('input', 'input[type="range"].volume', function() {
				$('[data-rangeslider="' + this.id + '"] .range-output').html(this.value);
			});

		});

		// Apply necessary changes, functionality when content is loaded
		$(window).on('load', function() {

			// This script is necessary for cross browsers icon sprite support (IE9+, ...) 
			svg4everybody();

			// Washing machine - demonstration of running program/cycle
			$('#wash-machine').timer({
				countdown: true,
				format: '%H:%M:%S',
				duration: '1m10s',
				callback: function() {
					$('[data-unit="wash-machine"]').removeClass('active');
					$('[data-unit="wash-machine"] .status').html('OFF');
				}
			});

			$('[data-unit="wash-machine"] .timer-controls button[data-action="pause"]').css("display", "block");

			// "Timeout" function is not neccessary - important is to hide the preloader overlay
			setTimeout(function() {

				// Hide preloader overlay when content is loaded
				$('#iot-preloader,.card-preloader').fadeOut();
				$("#wrapper").removeClass("hidden");

				// Initialize range sliders
				$('input[type="range"]').rangeslider({
					polyfill: false,
					onSlideEnd: function(position, value) {

						var rangeValues = JSON.parse(localStorage.getItem('rangeValues')) || {};
						// Update localStorage
						if (localStorage) {
							rangeValues[this.$element[0].id] = value;
							localStorage.setItem("rangeValues", JSON.stringify(rangeValues));
						}
					}

				});

				// Check for Main contents scrollbar visibility and set right position for FAB button
				iot.positionFab();

			}, 800);

		});

		// Apply necessary changes if window resized
		$(window).on('resize', function() {

			// Modal reposition when the window is resized
			$('.modal.centered:visible').each(iot.centerModal);

			// Check for Main contents scrollbar visibility and set right position for FAB button
			iot.positionFab();
		});

	</script>

</body>


<!-- Mirrored from symbiotdelta.creatingo.com/appliances.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 14 Apr 2021 20:34:28 GMT -->
</html>
