<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from symbiotdelta.creatingo.com/cameras.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 14 Apr 2021 20:34:28 GMT -->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="Jozef Dvorský - creatingo.com">
	<link rel="icon" href="assets\images\favicon.png">
	<title>MARELLA Cameras - Bootstrap 4 theme</title>
	<!-- jQuery -->
	<script
	src="https://code.jquery.com/jquery-3.6.0.min.js"
	integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
	crossorigin="anonymous"></script>
	<!-- Bootstrap core CSS with custom theme variables + Additional theme styles -->
    <link href="assets/css/iot-theme-bundle.min.css" rel="stylesheet">

</head>

<body>

	<!-- Preloader -->
	<div id="iot-preloader">
		<div class="center-preloader d-flex align-items-center">
			<div class="spinners">
				<div class="spinner01"></div>
				<div class="spinner02"></div>
			</div>
		</div>
	</div>

	<!-- Alerts Modal -->
	<div class="modal modal-nobg centered fade" id="alertsModal" tabindex="-1" role="dialog" aria-label="Alerts" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-body">
					<div class="alert alert-danger alert-dismissible fade show border-0" role="alert">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button> Security SW update available
					</div>
					<div class="alert alert-warning alert-dismissible fade show border-0" role="alert">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button> New device recognized
					</div>
					<div class="alert alert-warning alert-dismissible fade show border-0" role="alert">
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button> User profile is not complete
					</div>
				</div>
			</div>
		</div>
		<button type="button" class="close close-modal" data-dismiss="modal" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
	</div>

	<!-- Wrapper START -->
	<div id="wrapper" class="hidden">
		<!-- Top navbar START -->
		<nav class="navbar fixed-top border-bottom">
			<a class="navbar-brand pt-0 px-lg-3 px-1 mr-0" href="#"><img src="assets/images/logo.png" alt="SYMBIOT Delta"></a>
			<div class="ml-auto">
				<div class="navbar-nav navbar-icons flex-row">
					<div class="nav-item">
						<button id="alerts-toggler" class="btn btn-link nav-link" title="Alerts" type="button" data-alerts="3" data-toggle="modal" data-target="#alertsModal">
							<svg class="icon-sprite">
								<use xlink:href="assets/images/icons-sprite.svg#alert"/>
								<svg class="text-danger"><use class="icon-dot" xlink:href="assets/images/icons-sprite.svg#icon-dot"/></svg>
							</svg>
						</button>
					</div>
					<div class="nav-item">
						<a class="nav-link" href="settings.html">
							<svg class="icon-sprite"><use xlink:href="assets/images/icons-sprite.svg#settings"/></svg> 
						</a>
					</div>
					<div class="nav-item">
						<a class="nav-link" href="login.html">
							<svg class="icon-sprite"><use xlink:href="assets/images/icons-sprite.svg#logout"/></svg> 
						</a>
					</div>
				</div>
			</div>
		</nav>
		<!-- Top navbar END -->

		<!-- Main content START -->
		<div class="container-fluid px-4 px-sm-5">
			<div class="row">
				<div class="col-sm-12 col-md-6">
					<!-- Camera 1  START -->
					<div class="card active" data-unit="switch-camera-1">
						<div class="card-img-top card-stream">
							<div class="embed-responsive embed-responsive-16by9">
								<video muted loop>
									<source src="assets/videos/street.mp4" type="video/mp4" />
									<source src="assets/videos/street.webm" type="video/webm" />
								</video>
								<div class="card-preloader">
									<div class="center-preloader d-flex align-items-center">
										<div class="spinners">
											<div class="spinner01"></div>
											<div class="spinner02"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="card-img-top card-stream off">
							<div class="embed-responsive embed-responsive-16by9">
								<h2 class="center-abs">OFF</h2>
							</div>
						</div>
						<!-- Camera switch START -->
						<div class="card-body d-flex">
							<svg class="icon-sprite">
								<use xlink:href="assets/images/icons-sprite.svg#camera"/>
							</svg>
							<h5>Outdoor front</h5>
							<label class="switch ml-auto checked">
								<input type="checkbox" id="switch-camera-1" checked>
							</label>
						</div>
						<!-- Camera switch END -->
						<hr class="my-0">
						<!-- Bulb details START -->
						<ul class="list-group borderless px-1">
							<li class="list-group-item pt-3 pb-2">
								<p class="specs">Connection</p>
								<p class="ml-auto mb-0 py-1 text-success">OK</p>
							</li>
							<li class="list-group-item py-2 flex-column flex-sm-row justify-content-between">
								<p class="specs">Night vision</p>
								<div class="btn-group btn-group-toggle mb-auto py-1" data-toggle="buttons">
									<label class="btn btn-label btn-sm mb-0 active">
										<input type="radio" name="options" id="c1-nv-auto" autocomplete="off" checked> AUTO
									</label>
									<label class="btn btn-label btn-sm mb-0">
										<input type="radio" name="options" id="c1-nv-on" autocomplete="off"> ON
									</label>
									<label class="btn btn-label btn-sm mb-0">
										<input type="radio" name="options" id="c1-nv-off" autocomplete="off"> OFF
									</label>
								</div>
							</li>
							<li class="list-group-item pt-2 pb-4 flex-column flex-sm-row justify-content-between">
								<p class="specs">Timelaps recording</p>
								<div class="btn-group btn-group-toggle mb-auto py-1" data-toggle="buttons">
									<label class="btn btn-label btn-sm mb-0 active">
										<input type="radio" name="options" id="c1-rec-on" autocomplete="off" checked> ENABLE
									</label>
									<label class="btn btn-label btn-sm mb-0">
										<input type="radio" name="options" id="c1-rec-off" autocomplete="off"> DISABLE
									</label>
								</div>
							</li>
						</ul>
						<!-- Bulb details END -->
					</div>
					<!-- Camera 1  END -->
				</div>
				<div class="col-sm-12 col-md-6">
					<!-- Camera 2  START -->
					<div class="card" data-unit="switch-camera-2">
						<div class="card-img-top card-stream">
							<div class="embed-responsive embed-responsive-16by9">
								<video muted loop>
									<source src="assets/videos/room.mp4" type="video/mp4" />
									<source src="assets/videos/room.webm" type="video/webm" />
								</video>
								<div class="card-preloader">
									<div class="center-preloader d-flex align-items-center">
										<div class="spinners">
											<div class="spinner01"></div>
											<div class="spinner02"></div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="card-img-top card-stream off">
							<div class="embed-responsive embed-responsive-16by9">
								<h2 class="center-abs">OFF</h2>
							</div>
						</div>
						<!-- Camera switch START -->
						<div class="card-body d-flex">
							<svg class="icon-sprite">
                      			<use xlink:href="assets/images/icons-sprite.svg#camera"/>
                    		</svg>
							<h5>Front door</h5>
							<label class="switch ml-auto">
                      <input type="checkbox" id="switch-camera-2">
                    </label>
						</div>
						<!-- Camera switch END -->
						<hr class="my-0">
						<!-- Bulb details START -->
						<ul class="list-group borderless px-1">
							<li class="list-group-item pt-3 pb-2">
								<p class="specs">Connection</p>
								<p class="ml-auto mb-0 py-1 text-success">OK</p>
							</li>
							<li class="list-group-item flex-column py-2">
								<p class="specs w-100">Night vision</p>
								<div class="btn-group btn-group-toggle w-100 py-2" data-toggle="buttons">
									<label class="btn btn-label btn-sm mb-0 col-4 active">
                          				<input type="radio" name="options" id="c2-nv-auto" autocomplete="off" checked> AUTO
                        			</label>
									<label class="btn btn-label btn-sm mb-0 col-4">
                          				<input type="radio" name="options" id="c2-nv-on" autocomplete="off"> ON
                        			</label>
									<label class="btn btn-label btn-sm mb-0 col-4">
                          				<input type="radio" name="options" id="c2-nv-off" autocomplete="off"> OFF
                        			</label>
								</div>
								<div class="info-holder info-ct">
									<div data-toggle="popover-all" data-content="Group of radio buttons." data-original-title="Option settings" data-placement="bottom" data-offset="0,-32"></div>
								</div>
							</li>
							<li class="list-group-item flex-column pt-2 pb-4">
								<p class="specs w-100">Timelaps recording</p>
								<div class="btn-group btn-group-toggle w-100 ml-auto py-2" data-toggle="buttons">
									<label class="btn btn-label btn-sm mb-0 w-100 active">
                          				<input type="radio" name="options" id="c2-rec-on" autocomplete="off" checked> ENABLE
                        			</label>
									<label class="btn btn-label btn-sm mb-0 w-100">
                          				<input type="radio" name="options" id="c2-rec-off" autocomplete="off"> DISABLE
                        			</label>
								</div>
							</li>
						</ul>
						<!-- Bulb details END -->
					</div>
					<!-- Camera 2  END -->
				</div>
			</div>
		</div>
		<!-- Main content END -->
		<!-- Bottom navbar START -->
		<%- include('../partials/navbar.ejs') %>
		<!-- Bottom navbar END -->
	</div>
	<!-- Wrapper END -->

	<!-- FAB button - bottom right on large screens -->
	<button id="info-toggler" type="button" class="btn btn-primary btn-fab btn-fixed-br d-none d-lg-inline-block">
    	<svg class="icon-sprite"><use xlink:href="assets/images/icons-sprite.svg#info"/></svg>
  	</button>


	<!-- Bootstrap bundle -->
	<script src="assets/js/bootstrap.bundle.min.js"></script>

	<!-- Cross browser support for SVG icon sprites -->
	<script src="assets/js/svg4everybody.min.js"></script>

	<!-- jQuery countdown timer plugin (Exit modal, Garage doors, Washing machine) -->
	<script src="assets/js/iot-timer.min.js"></script>

	<!-- Basic theme functionality (arming, garage doors, switches ...) - using jQuery -->
	<script src="assets/js/iot-functions.min.js"></script>

	<script>
		$(document).ready(function() {


			// Get checkbox statuses from localStorage if available (IE)
			if (localStorage) {

				// Switch statuses
				var switchValues = JSON.parse(localStorage.getItem('switchValues')) || {};

				$.each(switchValues, function(key, value) {

					// Apply only if element is included on the page
					if ($('[data-unit="' + key + '"]').length) {

						if (value === true) {

							// Apply appearance of the "unit" and checkbox element
							$('[data-unit="' + key + '"]').addClass("active");
							$("#" + key).prop('checked', true);
							$("#" + key).closest("label").addClass("checked");

							//In case of Camera unit - play video
							if (key === "switch-camera-1" || key === "switch-camera-2") {
								$('[data-unit="' + key + '"] video')[0].play();
							}

						} else {
							$('[data-unit="' + key + '"]').removeClass("active");
							$("#" + key).prop('checked', false);
							$("#" + key).closest("label").removeClass("checked");
							if (key === "switch-camera-1" || key === "switch-camera-2") {
								$('[data-unit="' + key + '"] video')[0].pause();
							}
						}
					}
				});
			}

			// Switch (checkbox element) toogler
			$('.switch input[type="checkbox"]').on("change", function(t) {

				// Check the time between changes to prevert Android native browser execute twice
				// If you dont need support for Android native browser - just call "switchSingle" function
				if (this.last) {

					this.diff = t.timeStamp - this.last;

					// Don't execute if the time between changes is too short (less than 250ms) - Android native browser "twice bug"
					// The real time between two human taps/clicks is usually much more than 250ms"
					if (this.diff > 250) {

						this.last = t.timeStamp;

						iot.switchSingle(this.id, this.checked);

					} else {
						return false;
					}

				} else {

					// First attempt on this switch element
					this.last = t.timeStamp;

					iot.switchSingle(this.id, this.checked);

				}
			});

			// Reposition to center when a modal is shown
			$('.modal.centered').on('show.bs.modal', iot.centerModal);

			// Alerts "Close" callback - hide modal and alert indicator dot when user closes all alerts
			$('#alertsModal .alert').on('close.bs.alert', function() {
				var sum = $('#alerts-toggler').attr('data-alerts');
				sum = sum - 1;
				$('#alerts-toggler').attr('data-alerts', sum);

				if (sum === 0) {
					$('#alertsModal').modal('hide');
					$('#alerts-toggler').attr('data-toggle', 'none');

				}

			});

			// Show/hide tips (popovers) - FAB button (right bottom on large screens)
			$('#info-toggler').click(function() {

				if ($('body').hasClass('info-active')) {
					$('[data-toggle="popover-all"]').popover('hide');
					$('body').removeClass('info-active');
				} else {
					$('[data-toggle="popover-all"]').popover('show');
					$('body').addClass('info-active');
				}
			});

			// Hide tips (popovers) by clicking outside
			$('body').on('click', function(pop) {

				if (pop.target.id !== 'info-toggler' && $('body').hasClass('info-active')) {
					$('[data-toggle="popover-all"]').popover('hide');
					$('body').removeClass('info-active');
				}

			});

		});

		// Apply necessary changes, functionality when content is loaded
		$(window).on('load', function() {

			// This script is necessary for cross browsers icon sprite support (IE9+, ...) 
			svg4everybody();

			if ($('[data-unit="switch-camera-1"]').hasClass("active")) {
				var activeVideo = $('[data-unit="switch-camera-1"] video').get(0);

				if (activeVideo.paused) {
					activeVideo.autoplay = true;
					activeVideo.load();
					activeVideo.play();
				} else {
					activeVideo.pause();
				}
			}

			if ($('[data-unit="switch-camera-2"]').hasClass("active")) {
				var activeVideo = $('[data-unit="switch-camera-2"] video').get(0);

				if (activeVideo.paused) {
					activeVideo.autoplay = true;
					activeVideo.load();
					activeVideo.play();
				} else {
					activeVideo.pause();
				}
			}

			// "Timeout" function is not neccessary - important is to hide the preloader overlay
			setTimeout(function() {

				// Hide preloader overlay when content is loaded
				$('#iot-preloader,.card-preloader').fadeOut();
				$("#wrapper").removeClass("hidden");

				// Check for Main contents scrollbar visibility and set right position for FAB button
				iot.positionFab();

			}, 800);

		});

		// Apply necessary changes if window resized
		$(window).on('resize', function() {

			// Modal reposition when the window is resized
			$('.modal.centered:visible').each(iot.centerModal);

			// Check for Main contents scrollbar visibility and set right position for FAB button
			iot.positionFab();
		});

	</script>

</body>


<!-- Mirrored from symbiotdelta.creatingo.com/cameras.html by HTTrack Website Copier/3.x [XR&CO'2014], Wed, 14 Apr 2021 20:34:28 GMT -->
</html>
